main{
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 100vh;
}
#container{
    padding-top: 150px;
    text-align: center;
}
#container p{
    font-size: 50px;
    color: black;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #f2cd37;
    padding-top: 30px;
}
#container a{
    font-size: 30px;
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #f2cd37;
}